@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/ComicSansMS.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #f9f7f3;
}
body.hidden {
  overflow: hidden;
}

a,
button,
input,
textarea {
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  padding: 13px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #ba242d;
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  transform: scale(0.98);
  filter: brightness(1.2);
}
.button_light {
  background-color: #a5a5a5;
}

.custom-select {
  position: relative;
  margin: 0;
  width: 100%;
  border: none;
}
.custom-select > select {
  display: none;
}
.custom-select__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 13px 15px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  border: none;
  border-radius: 6px;
  background-color: #d9d9d9;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select__selected-text {
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 32px;
}
.custom-select__selected::after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../assets/caret-down.svg) center no-repeat;
  transition: all ease-in-out 0.1s;
}
.custom-select__selected.active::after {
  transform: rotate(180deg);
}
.custom-select__hide {
  display: none !important;
}
.custom-select__items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  max-height: 240px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #181d42;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(24, 29, 66, 0.25);
}
.custom-select__items::-webkit-scrollbar {
  width: 4px;
}
.custom-select__items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-select__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select__same-as-selected {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.accordion__main {
  cursor: pointer;
}
.accordion__main > * {
  pointer-events: none;
}
.accordion__panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 0.2s;
  will-change: max-height;
}

.first-step .container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 100dvh;
  padding: 40px 15px;
  box-sizing: border-box;
}
.first-step__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.first-step__logos-item {
  position: relative;
}
.first-step__logos-item::after {
  content: "x";
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ba242d;
  transform: translate3d(-50%, 0, 0);
}
.first-step__logos-item:last-child::after {
  display: none;
}
.first-step__logos-item-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.first-step__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;
}
.first-step__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.first-step__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.first-step__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  overflow: hidden;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 50px 15px 40px;
  box-sizing: border-box;
}
.subscribe__title {
  max-width: 330px;
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.subscribe__title span {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ba242d;
}
.subscribe__title span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: calc(100% + 4px);
  display: block;
  height: 78px;
  width: 62px;
  background: url(../assets/arrow-down.svg) center no-repeat;
}
.subscribe__description {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
.subscribe__figure {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 auto;
  padding: 15px;
  margin: 0 0 25px;
}
@keyframes beat {
  to {
    transform: scale(1.02);
    box-shadow: 0 4px 45px rgba(186, 36, 45, 0.8);
  }
}
.subscribe__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 12px;
  animation: beat 0.7s infinite alternate;
  will-change: transform, box-shadow;
}
.subscribe__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet .container {
  min-height: 100dvh;
  padding: 30px 15px 120px;
  box-sizing: border-box;
}
.wallet__network {
  margin-bottom: 15px;
}
.wallet__network-value {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #3e3e3e;
}
.wallet__network-value::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url(../assets/caret-down.svg) center no-repeat;
}
.wallet__network-value_tron::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 6px;
  background: url(../assets/tron.svg) center no-repeat;
}
.wallet__info {
  position: relative;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 12px;
  background-color: #ffffff;
}
.wallet__info-code {
  display: flex;
  align-items: center;
  gap: 8px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 24px;
  padding: 4px;
  border: 1px dashed #000000;
  border-radius: 4px;
}
.wallet__info-code-text {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.wallet__info-code-copy {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: none;
  background: url(../assets/copy.svg);
  cursor: pointer;
}
.wallet__info-crypto {
  font-weight: 700;
  font-size: 32px;
  color: #000;
}
.wallet__info-currency {
  font-weight: 400;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.6);
}
.wallet__info-more.active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet__info-more-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: url(../assets/more.svg) center no-repeat;
  background-color: #a5a5a5;
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
.wallet__info-more-button:hover {
  filter: brightness(1.1);
}
.wallet__info-more-button:active {
  transform: scale(0.98);
  filter: brightness(1.2);
}
.wallet__info-more-modal {
  position: absolute;
  top: 68px;
  right: 20px;
  z-index: 100;
  max-width: 196px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 4px 20px 12px rgba(0, 0, 0, 0.14);
  background: #a5a5a5;
  transform: translateY(-100vh);
  transition: transform ease-in-out 0.4s;
}
.active .wallet__info-more-modal {
  transform: translateY(0);
}
.wallet__info-more-modal-seed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0 0 10px;
}
.wallet__info-more-modal-seed-phrase {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.wallet__info-more-modal-seed-copy {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: none;
  background: url(../assets/copy.svg);
  filter: invert(1);
  cursor: pointer;
}
.wallet__info-more-modal-warning {
  padding-left: 24px;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  background: url(../assets/warning.svg) left center no-repeat;
  background-size: 18px;
}
.wallet__tokens {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px 0;
}
.wallet__tokens-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #ffffff;
}
.wallet__tokens-card_points {
  border: 1px dashed #000;
}
.wallet__tokens-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.wallet__tokens-card-icon-image {
  display: block;
  max-width: 100%;
  width: 40px;
  height: auto;
}
.wallet__tokens-card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 2px;
}
.wallet__tokens-card-info-title {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}
.wallet__tokens-card-info-value {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.wallet__tokens-card-status {
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
  background: url(../assets/token-top.svg) center no-repeat;
  background-size: cover;
}
.wallet__tokens-card-points {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.wallet__tokens-card-points-value {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.wallet__tokens-card-points-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  border: none;
  border-radius: 6px;
  background-color: #d9d9d9;
  cursor: pointer;
}
.wallet__swap {
  padding: 12px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #ffffff;
}
.wallet__swap-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.wallet__swap-form-fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  border: none;
}
.wallet__swap-form-fieldset:first-child {
  position: relative;
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 2px solid #a5a5a5;
}
.wallet__swap-form-fieldset:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: url(../assets/arrow-right-md.svg) center no-repeat;
  background-color: #a5a5a5;
  transform: translate3d(-50%, 50%, 0);
}
.wallet__swap-form-fieldset > .custom-select {
  flex: 0 0 100px;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 44px;
  width: 100px;
  padding: 0;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__selected-text {
  margin-left: 6px;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__selected::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wallet__swap-form-fieldset > .custom-select[data-value=trx] .custom-select__selected::before {
  background-image: url(../assets/tron.svg);
}
.wallet__swap-form-fieldset > .custom-select[data-value=ww3] .custom-select__selected::before {
  background-image: url(../assets/ww3.svg);
}
.wallet__swap-form-fieldset > .custom-select .custom-select__items {
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #d9d9d9;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 44px;
  width: 100px;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px dashed #a8a8a8;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__item:last-child {
  border-bottom: none;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__item::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wallet__swap-form-fieldset > .custom-select .custom-select__item[data-token=trx]::before {
  background-image: url(../assets/tron.svg);
}
.wallet__swap-form-fieldset > .custom-select .custom-select__item[data-token=ww3]::before {
  background-image: url(../assets/ww3.svg);
}
.wallet__swap-form-input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
}
.wallet__swap-form-input[type=number] {
  -moz-appearance: textfield;
}
.wallet__swap-form-input[type=number]::-webkit-outer-spin-button, .wallet__swap-form-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wallet__swap-form-speed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px 20px;
  margin: 18px 0;
}
.wallet__swap-form-speed-title {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.wallet__swap-form-speed-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.wallet__swap-form-speed-label-text {
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 52px;
  transition: opacity ease-in-out 0.2s;
  opacity: 0.2;
  cursor: pointer;
}
.wallet__swap-form-speed-label:has(input:checked) .wallet__swap-form-speed-label-text {
  opacity: 1;
}
.wallet__swap-form-speed-label > input {
  display: none;
}
.wallet__swap-form .button {
  max-width: none;
}
.wallet__follow {
  position: relative;
  margin-top: 20px;
}
.wallet__follow-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #ba242d;
  border-radius: 12px;
}
.wallet__follow-link {
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 54px;
  background-color: #ba242d;
}

.withdraw .container {
  min-height: 100dvh;
  padding: 65px 15px 30px;
  box-sizing: border-box;
}
.withdraw__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 0 0 20px;
}
.withdraw__controls-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #a5a5a5;
}
.withdraw__controls-back::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../assets/arrow-right-md.svg) center no-repeat;
  background-size: 24px;
  transform: rotate(90deg);
}
.withdraw__controls .custom-select {
  width: -moz-fit-content;
  width: fit-content;
}
.withdraw__controls .custom-select__selected {
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  border-radius: 12px;
  background-color: #f9f7f3;
}
.withdraw__controls .custom-select__selected::before {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: grayscale(1);
}
.withdraw__controls .custom-select[data-value=trx] .custom-select__selected::before {
  content: "";
  background-image: url(../assets/tron.svg);
}
.withdraw__controls .custom-select[data-value=ww3] .custom-select__selected::before {
  content: "";
  background-image: url(../assets/ww3.svg);
}
.withdraw__controls .custom-select__item::before {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.withdraw__controls .custom-select__item[data-token=trx]::before {
  content: "";
  background-image: url(../assets/tron.svg);
}
.withdraw__controls .custom-select__item[data-token=ww3]::before {
  content: "";
  background-image: url(../assets/ww3.svg);
}
.withdraw__swap {
  padding: 12px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #ffffff;
}
.withdraw__swap-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.withdraw__swap-form-fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  border: none;
}
.withdraw__swap-form-fieldset:first-child {
  position: relative;
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 2px solid #a5a5a5;
}
.withdraw__swap-form-fieldset:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: url(../assets/arrow-right-md.svg) center no-repeat;
  background-color: #a5a5a5;
  transform: translate3d(-50%, 50%, 0);
}
.withdraw__swap-form-fieldset > .custom-select {
  flex: 0 0 100px;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 44px;
  width: 100px;
  padding: 0;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__selected-text {
  margin-left: 6px;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__selected::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.withdraw__swap-form-fieldset > .custom-select[data-value=trx] .custom-select__selected::before {
  background-image: url(../assets/tron.svg);
}
.withdraw__swap-form-fieldset > .custom-select[data-value=ww3] .custom-select__selected::before {
  background-image: url(../assets/ww3.svg);
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__items {
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #d9d9d9;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 44px;
  width: 100px;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px dashed #a8a8a8;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__item:last-child {
  border-bottom: none;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__item::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__item[data-token=trx]::before {
  background-image: url(../assets/tron.svg);
}
.withdraw__swap-form-fieldset > .custom-select .custom-select__item[data-token=ww3]::before {
  background-image: url(../assets/ww3.svg);
}
.withdraw__swap-form-fieldset:last-child {
  margin-top: 20px;
}
.withdraw__swap-form-input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
}
.withdraw__swap-form-input[type=number] {
  -moz-appearance: textfield;
}
.withdraw__swap-form-input[type=number]::-webkit-outer-spin-button, .withdraw__swap-form-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.withdraw__swap-form-label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.withdraw__swap-form-label-text {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.withdraw__swap-form-label input:disabled {
  color: #000;
}
.withdraw__swap-form .button {
  max-width: none;
}

.alerts {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
.alerts.active {
  z-index: 200;
  pointer-events: all;
}
.alerts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 140px;
  height: 38px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-transform: capitalize;
  color: #fff;
  border-radius: 8px;
  background: #a5a5a5;
  transition: all ease-in-out 0.2s;
  transform: translateY(-400px);
}
.active .alerts__item {
  transform: translateY(10px);
}
.alerts__item::before {
  width: 18px;
  height: 18px;
  background-size: 18px;
  filter: brightness(10);
}
.alerts__item_copied::before {
  content: "";
  background: url(../assets/copy-wh.svg) center no-repeat;
}
.alerts__item_complete::before {
  content: "";
  background: url(../assets/completed-wh.svg) center no-repeat;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  background: rgba(32, 32, 32, 0);
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  pointer-events: all;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background: rgba(32, 32, 32, 0.5);
  transition-property: z-index;
  transition-delay: 0.1s;
}
.modal__body {
  max-width: calc(100vw - 40px);
  max-height: 90vh;
  width: 360px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #ffffff;
  overflow: auto;
  transition: transform ease-in-out 0.2s;
  transform: translateY(-100vh);
}
.active .modal__body {
  transform: translateY(0);
}
.modal__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000;
}
.modal__description {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #a5a5a5;
}
.modal__text {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.modal__list-item {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.modal__list-item b {
  font-weight: 700;
}
.modal__list-item_flex {
  display: flex;
  gap: 5px;
}
.modal__list-item-title {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.modal__list-item_flex .modal__list-item-title {
  flex: 0 0 84px;
}
.modal__list-item-text {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.modal__list-item_flex .modal__list-item-text {
  padding-top: 2px;
}
.modal__points {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 24px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.modal__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 0;
}

.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  padding: 10px 0 14px;
  border-top: 1px solid #d9d9d9;
  background-color: #f9f7f3;
}
.main-nav .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.main-nav__link {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 10px;
  color: #a5a5a5;
  text-align: center;
}
.main-nav__link.active {
  color: #000000;
}
.main-nav__link::before {
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  opacity: 0.3;
}
.main-nav__link.active::before {
  opacity: 1;
}
.main-nav__link_profile::before {
  background-image: url(../assets/nav-profile.svg);
}
.main-nav__link_wallet::before {
  background-image: url(../assets/nav-wallet.svg);
}
.main-nav__link_social::before {
  background-image: url(../assets/nav-social.svg);
}
.main-nav__link_game::before {
  background-image: url(../assets/nav-game.svg);
}

.profile {
  padding: 20px 0 154px;
}
.profile__user {
  margin: 0 0 10px;
  overflow: hidden;
  border: 1px solid #000000;
  border-radius: 20px;
}
.profile__user-photo-image {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 348/326;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile__user-info {
  padding: 12px;
  background-color: #5c5c5c;
}
.profile__user-info-name {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #ffffff;
}
.profile__user-info-account {
  display: flex;
  align-items: center;
  gap: 6px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
.profile__user-info-account-text {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #ffffff;
}
.profile__user-info-account-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 6px;
  background: url(../assets/x-logo.svg) center/10px no-repeat;
  background-color: #ffffff;
}
.profile__user-info-account-link_not-verified {
  background-color: #999999;
}
.profile__points {
  padding: 20px;
  margin: 0 0 10px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #ba242d;
}
.profile__points-main {
  position: relative;
}
.profile__points-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 40px;
  width: 40px;
  background: url(../assets/dropdown.svg) center/10px no-repeat;
  transition: transform ease-in-out 0.2s;
  will-change: transform;
  filter: invert(1);
}
.profile__points-main-title {
  margin: 0 0 10px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #fff;
}
.profile__points-main-value {
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  color: #fff;
}
.profile__points.active .profile__points-main::after {
  transform: rotate(180deg);
}
.profile__points-panel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 0;
  margin: 14px 0;
  list-style-type: none;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
.profile__points-panel-info-item {
  font-size: 16px;
  color: #fff;
}
.profile__points-panel-info-item-text {
  font-weight: 400;
}
.profile__points-panel-info-item-value {
  font-weight: 700;
}
.profile__points-panel-question-button {
  display: inline-block;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  cursor: pointer;
}
.profile__referrals {
  margin: 0 0 10px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #f5f3ee;
}
.profile__referrals-main {
  position: relative;
}
.profile__referrals-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 40px;
  width: 40px;
  background: url(../assets/dropdown.svg) center/10px no-repeat;
  transition: transform ease-in-out 0.2s;
  will-change: transform;
}
.profile__referrals-main-title {
  margin: 0 0 10px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #000000;
}
.profile__referrals-main-value {
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  color: #000000;
}
.profile__referrals.active .profile__referrals-main::after {
  transform: rotate(180deg);
}
.profile__referrals-panel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 0;
  margin: 14px 0;
  list-style-type: none;
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.profile__referrals-panel-info-item {
  font-size: 16px;
  color: #000000;
}
.profile__referrals-panel-info-item-text {
  font-weight: 400;
}
.profile__referrals-panel-info-item-value {
  font-weight: 700;
}
.profile__referrals-panel-info-item .button {
  max-width: none;
}
.profile__referrals-panel-question-button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: left;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: #000000;
  cursor: pointer;
}
.profile__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile__nav-link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  aspect-ratio: 36/35;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 20px;
}
.profile__nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.profile__nav-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 48px;
  aspect-ratio: 1/1;
  border: 1px solid #000;
  border-radius: 10px;
  background: url(../assets/lock.svg) center/24px no-repeat;
  background-color: #3e3e3e;
  transform: translate3d(-50%, -50%, 0);
}
.profile__nav-link_blocked {
  pointer-events: none;
  cursor: none;
}
.profile__nav-link_blocked::before {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.profile__nav-link_blocked::after {
  display: block;
}
.profile__nav-link-text {
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #fff;
}
.profile__nav-link-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.social-connect {
  padding: 20px 0 110px;
}
.social-connect .container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 130px);
}
.social-connect__title {
  max-width: 360px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.social-connect__figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-connect__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.social-connect__controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto;
}