@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/ComicSansMS.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  padding: 13px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #ba242d;
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  transform: scale(0.98);
  filter: brightness(1.2);
}

.first-step .container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 100dvh;
  padding: 40px 15px;
  box-sizing: border-box;
}
.first-step__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.first-step__logos-item {
  position: relative;
}
.first-step__logos-item::after {
  content: "x";
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ba242d;
  transform: translate3d(-50%, 0, 0);
}
.first-step__logos-item:last-child::after {
  display: none;
}
.first-step__logos-item-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.first-step__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;
}
.first-step__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.first-step__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.first-step__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  overflow: hidden;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 50px 15px 40px;
  box-sizing: border-box;
}
.subscribe__title {
  max-width: 330px;
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.subscribe__title span {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ba242d;
}
.subscribe__title span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: calc(100% + 4px);
  display: block;
  height: 78px;
  width: 62px;
  background: url(../assets/arrow-down.svg) center no-repeat;
}
.subscribe__description {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
.subscribe__figure {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 auto;
  padding: 15px;
  margin: 0 0 25px;
}
@keyframes beat {
  to {
    transform: scale(1.02);
    box-shadow: 0 4px 45px rgba(186, 36, 45, 0.8);
  }
}
.subscribe__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 12px;
  animation: beat 0.7s infinite alternate;
  will-change: transform, box-shadow;
}
.subscribe__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}