.quests {
  padding: 10px 0;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 20px;
  }

  &__back {
    flex: 0 0 auto;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(../assets/arrow-right-md.svg) center / 24px no-repeat;
    background-color: #a5a5a5;
    transform: rotate(90deg);
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: -0.05em;
    color: #000000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 0 0 28px;
  }

  &__item {
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #dcd8cf;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      padding: 8px 30px 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.05em;
      text-align: center;
      color: #ffffff;
      border-radius: 16px 16px 0 0;
      background-color: #1d1c1a;
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 196px;
      padding: 30px 20px 20px;
      box-sizing: border-box;
    }

    &-text {
      flex: 1 1 auto;
      font-weight: 700;
      font-size: 16px;
      line-height: 250%;
      letter-spacing: -0.05em;
      text-align: center;
      color: #000000;

      & a {
        color: #000000;
      }
    }

    &-controls {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_done &-controls .button,
    &_expired &-controls .button {
      background-color: #3e3e3e;
      pointer-events: none;
      cursor: none;
    }

    &_expired {
      opacity: 0.5;
    }
  }
}
