.social {
  padding: 20px 0 110px;

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid #000000;
    border-radius: 20px;
    background: url(../assets/social-user-bg.jpg) top center / cover no-repeat;

    &-user {
      position: relative;
      z-index: 5;
      flex: 0 0 calc(50% - 5px);
      padding: 12px;
      box-sizing: border-box;
      border: 1px solid #000000;
      border-radius: 12px;
      background-color: #f5f3ee;

      &-photo {
        margin: 0 0 10px;
        height: 126px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 12px;

        &-image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      &-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #000000;
      }

      &-income {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4px 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #fff;
        border-radius: 11px 0;
        background-color: #ba242d;
      }

      &-more {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 24px;
        width: 24px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 6px;
        background: url(../assets/more-arrow.svg) center no-repeat;
        background-color: #ba242d;
        transform: translate3d(8px, -8px, 0);
        cursor: pointer;
      }
    }

    &-following {
      position: relative;
      z-index: 1;
      flex: 0 0 calc(50% - 5px);
      padding: 12px;
      box-sizing: border-box;
      border-radius: 12px;
      background-color: #f5f3ee;

      &-percent {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -8px 10px;
        height: 126px;
        box-sizing: border-box;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #000000;
        border-radius: 12px;

        &_empty {
          opacity: 0.2;
        }
      }

      &-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #000000;
      }

      &-income {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4px 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #fff;
        border-radius: 11px 0;
        background-color: #ba242d;
      }

      &-more {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 24px;
        width: 24px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 6px;
        background: url(../assets/more-arrow.svg) center no-repeat;
        background-color: #ba242d;
        transform: translate3d(8px, -8px, 0);
        cursor: pointer;
      }
    }

    &-wallet {
      flex: 1 1 100%;
      padding: 15px 20px;
      border-radius: 12px;
      background-color: #ba242d;

      &-cash {
        margin: 0 0 10px;
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        letter-spacing: -0.05em;
        text-align: center;
        color: #fff;
      }

      &-token {
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: -0.05em;
        text-align: center;
        color: #fff;
      }
    }

    &-faq {
      position: relative;
      padding: 20px 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
      border-radius: 12px;
      background-color: #a5a5a5;

      & b {
        font-weight: 700;
      }

      &-more {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 24px;
        width: 24px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 6px;
        background: url(../assets/more-arrow.svg) center no-repeat;
        background-color: #ba242d;
        transform: translate3d(8px, -8px, 0);
        cursor: pointer;
      }
    }
  }

  &__quests {
    position: relative;
    padding: 20px;
    margin: 0 0 40px;
    border: 1px solid #000000;
    border-radius: 20px;

    &-title {
      margin: 0 0 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 200%;
      letter-spacing: -0.05em;
      color: #000000;
    }

    &-content {
      display: flex;
      gap: 20px;
      overflow: auto;
      padding: 0 0 28px;

      &::-webkit-scrollbar {
        width: 13px;
      }

      &::-webkit-scrollbar-track {
        background: rgba($color: #f9f7f3, $alpha: 0);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: #d0ccc2;
      }
    }

    &-item {
      flex: 0 0 calc(100% + 30px);
      max-width: 340px;
      box-sizing: border-box;
      border: 2px solid #000000;
      border-radius: 20px;
      background-color: #dcd8cf;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 8px 30px 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.05em;
        text-align: center;
        color: #ffffff;
        border-radius: 16px 16px 0 0;
        background-color: #1d1c1a;
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 196px;
        padding: 30px 20px 20px;
        box-sizing: border-box;
      }

      &-text {
        flex: 1 1 auto;
        font-weight: 700;
        font-size: 16px;
        line-height: 250%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #000000;

        & a {
          color: #000000;
        }
      }

      &-controls {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &_done &-controls .button,
      &_expired &-controls .button {
        background-color: #3e3e3e;
        pointer-events: none;
        cursor: none;
      }

      &_expired {
        opacity: 0.5;
      }
    }

    &-more {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 24px;
      width: 24px;
      box-sizing: border-box;
      border: 1px solid #000000;
      border-radius: 6px;
      background: url(../assets/more-arrow.svg) center no-repeat;
      background-color: #ba242d;
      transform: translate3d(8px, -8px, 0);
      cursor: pointer;
    }
  }

  &__newcomers {
    margin: 0 0 40px;

    &-title {
      margin: 0 0 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.05em;
      color: #000;
    }

    &-slider {
      &-top,
      &-bottom {
        margin: 10px -15px 0;
      }
    }

    &-slide {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #000;
      border-radius: 12px;

      &-photo {
        flex: 0 0 auto;
        display: block;
        width: 100px;
        aspect-ratio: 1 / 1;

        &-image {
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          object-fit: cover;
          border: 2px solid #000;
          border-radius: 12px;
        }
      }

      &-user {
        &-name {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.05em;
          color: #000;
        }

        &-token {
          margin-bottom: 5px;
          min-height: 36px;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          letter-spacing: -0.05em;
          color: #000;
        }

        &-time {
          font-weight: 400;
          font-size: 12px;
          line-height: 125%;
          letter-spacing: -0.05em;
          color: #a5a5a5;
        }
      }
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 40px;

    &-search {
      &-input {
        display: inline-block;
        width: 100%;
        padding: 10px;
        padding-left: 40px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.05em;
        color: #000;
        border: 1px solid #000;
        border-radius: 12px;
        background: url(../assets/search.svg) left 10px center / 26px no-repeat;

        &::placeholder {
          color: #000;
        }
      }
    }

    &-sort {
      position: relative;

      &.active::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background-color: rgba($color: #000000, $alpha: 0);
      }

      &-status {
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 160px;
        width: fit-content;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: #a5a5a5;
        user-select: none;
        cursor: pointer;

        &-type {
          font-weight: 400;
          font-size: 16px;
          line-height: 125%;
          letter-spacing: -0.05em;
          text-align: center;
          color: #fff;
          pointer-events: none;
        }

        &-direction {
          width: 25px;
          height: 25px;
          background: url(../assets/sort-direction.svg) center / 24px no-repeat;
          transition-property: transform;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
          pointer-events: none;

          &.reversed {
            transform: rotate(-180deg);
          }
        }
      }

      &-dropdown {
        position: absolute;
        left: 0;
        z-index: 10;
        top: calc(100% + 8px);
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 6px;
        display: none;
        min-width: 160px;
        padding: 18px 0px;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: #a5a5a5;

        .active & {
          display: flex;
        }
      }

      &-radio {
        padding: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.05em;
        color: #fff;
        user-select: none;
        cursor: pointer;

        &:has(input:checked) {
          background-color: #858585;
        }

        &-input {
          display: none;
        }
      }

      &-direction {
        padding: 10px 12px;

        &-checkbox {
          position: relative;
          display: block;
          height: 40px;
          box-sizing: border-box;
          border-radius: 12px;
          background: #4d4d4d;
          user-select: none;
          cursor: pointer;

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            z-index: 10;
            width: calc(50% - 6px);
            height: calc(100% - 8px);
            background: url(../assets/sort-direction.svg) center / 24px no-repeat;
            transform: translate3d(0, -50%, 0);
          }

          &::before {
            left: 4px;
          }

          &::after {
            right: 4px;
            transform: translate3d(0, -50%, 0) rotate(180deg);
          }

          &-input {
            display: none;
          }

          &-toggler {
            position: absolute;
            top: 50%;
            left: 4px;
            z-index: 5;
            height: 32px;
            width: calc(50% - 6px);
            border-radius: 8px;
            background-color: #a5a5a5;
            transform: translate3d(0, -50%, 0);
            transition-property: left, transform;
            transition-timing-function: ease-in-out;
            transition-duration: 0.1s;
          }

          &:has(input:checked) &-toggler {
            left: calc(100% - 4px);
            transform: translate3d(-100%, -50%, 0);
          }
        }
      }
    }

    &-followed {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: fit-content;
      padding: 6px 12px;
      border-radius: 12px;
      background-color: #a5a5a5;

      &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.05em;
        text-align: center;
        color: #fff;
      }

      &-checkbox {
        position: relative;
        width: 72px;
        height: 38px;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: #4d4d4d;
        user-select: none;
        cursor: pointer;

        &-input {
          display: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 4px;
          display: block;
          height: calc(100% - 8px);
          aspect-ratio: 1 / 1;
          border-radius: 48px;
          background-color: #a5a5a5;
          transform: translate3d(0, -50%, 0);
          transition-property: left, transform;
          transition-timing-function: ease-in-out;
          transition-duration: 0.1s;
        }

        &:has(input:checked)::before {
          left: calc(100% - 4px);
          transform: translate3d(-100%, -50%, 0);
        }
      }
    }
  }

  &__users {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-back {
      position: fixed;
      top: 10px;
      left: 50%;
      z-index: 100;
      display: none;
      width: fit-content;
      transform: translateX(-50%);

      &-link {
        display: inline-block;
        padding: 8px 16px;
        padding-left: 44px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        border-radius: 8px;
        background: url(..//assets/back.svg) left 16px center / 18px no-repeat;
        background-color: #404040;
        box-shadow: 0 4px 31px rgba(0, 0, 0, 0.25);
        
      }
    }

    &-card {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px;
      border: 1px solid #000;
      border-radius: 12px;

      &-photo {
        flex: 0 0 120px;
        width: 100%;
        aspect-ratio: 1 / 1;

        &-image {
          display: block;
          max-width: 100%;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          object-fit: cover;
          border: 4px solid #000;
          border-radius: 20px;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        gap: 5px;

        &-name {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: -0.05em;
          color: #000;
        }

        &-description {
          flex: 1 1 auto;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          letter-spacing: -0.05em;
          color: #000;
        }

        &-token {
          padding: 6px 12px;
          border-radius: 12px;
          background-color: #ba242d;

          &-cash {
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: -0.05em;
            color: #fff;
          }

          &-name {
            font-weight: 700;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: -0.05em;
            color: #fff;
          }
        }
      }

      &-details {
        display: flex;
        gap: 4px;
        flex: 1 1 100%;
        padding: 10px;
        border-radius: 12px;
        background-color: #e5e4e2;

        &-item {
          flex: calc(100% / 3 - 4px / 3 * 2);
          font-weight: 700;

          line-height: 125%;
          letter-spacing: -0.05em;
          text-align: center;

          &-value {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 2px;
            font-size: 16px;
            min-height: 40px;
            color: #000;
          }

          &-text {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            font-size: 12px;
            min-height: 24px;
            color: #a5a5a5;
          }
        }
      }

      &-follow {
        flex: 1 1 100%;

        & .button {
          max-width: none;
        }
      }
    }
  }
}
