.withdraw {
  & .container {
    min-height: 100dvh;
    padding: 65px 15px 30px;
    box-sizing: border-box;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 0 0 20px;

    &-back {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background-color: #a5a5a5;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        background: url(../assets/arrow-right-md.svg) center no-repeat;
        background-size: 24px;
        transform: rotate(90deg);
      }
    }

    & .custom-select {
      width: fit-content;

      &__selected {
        padding: 12px;
        font-weight: 700;
        font-size: 14px;
        color: #a5a5a5;
        border: 1px solid #a5a5a5;
        border-radius: 12px;
        background-color: #f9f7f3;

        &::before {
          display: inline-block;
          height: 18px;
          width: 18px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.5;
          filter: grayscale(1);
        }
      }

      &[data-value='trx'] .custom-select__selected::before {
        content: '';
        background-image: url(../assets/tron.svg);
      }

      &[data-value='ww3'] .custom-select__selected::before {
        content: '';
        background-image: url(../assets/ww3.svg);
      }

      &__item {
        &::before {
          display: inline-block;
          height: 18px;
          width: 18px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &[data-token='trx']::before {
          content: '';
          background-image: url(../assets/tron.svg);
        }

        &[data-token='ww3']::before {
          content: '';
          background-image: url(../assets/ww3.svg);
        }
      }
    }
  }

  &__swap {
    padding: 12px;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: #ffffff;

    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      margin: 0 0 12px;
      font-weight: 700;
      font-size: 16px;
      color: #000;
    }

    &-form {
      &-fieldset {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;
        border: none;

        &:first-child {
          position: relative;
          padding-bottom: 36px;
          margin-bottom: 36px;
          border-bottom: 2px solid #a5a5a5;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 32px;
            width: 32px;
            border-radius: 32px;
            background: url(../assets/arrow-right-md.svg) center no-repeat;
            background-color: #a5a5a5;
            transform: translate3d(-50%, 50%, 0);
          }
        }

        & > .custom-select {
          flex: 0 0 100px;

          & .custom-select__selected {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
            height: 44px;
            width: 100px;
            padding: 0;

            &-text {
              margin-left: 6px;
            }

            &::before {
              content: '';
              display: inline-block;
              height: 18px;
              width: 18px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }

          &[data-value='trx'] .custom-select__selected::before {
            background-image: url(../assets/tron.svg);
          }

          &[data-value='ww3'] .custom-select__selected::before {
            background-image: url(../assets/ww3.svg);
          }

          & .custom-select__items {
            top: 0;
            left: 0;
            right: 0;
            padding: 0;
            background-color: rgba($color: #d9d9d9, $alpha: 1);
          }

          & .custom-select__item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            height: 44px;
            width: 100px;
            padding: 0;
            box-sizing: border-box;
            border-bottom: 1px dashed #a8a8a8;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:last-child {
              border-bottom: none;
            }

            &::before {
              content: '';
              display: inline-block;
              height: 18px;
              width: 18px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }

            &[data-token='trx']::before {
              background-image: url(../assets/tron.svg);
            }

            &[data-token='ww3']::before {
              background-image: url(../assets/ww3.svg);
            }
          }
        }

        &:last-child {
          margin-top: 20px;
        }
      }

      &-input {
        display: inline-block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        border: 1px solid #000;
        border-radius: 6px;

        &[type='number'] {
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      &-label {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        &-text {
          font-weight: 400;
          font-size: 16px;
          color: #000;
        }

        & input {
          &:disabled {
            color: #000;
          }
        }
      }

      & .button {
        max-width: none;
      }
    }
  }
}
