.button {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  padding: 13px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #ba242d;
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    transform: scale(0.98);
    filter: brightness(1.2);
  }

  &:disabled {
    background-color: #a5a5a5;
  }

  &_light {
    background-color: #a5a5a5;
  }
}
