.custom-select {
  position: relative;
  margin: 0;
  width: 100%;
  border: none;

  & > select {
    display: none;
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 13px 15px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 6px;
    background-color: rgba($color: #d9d9d9, $alpha: 1);
    outline: none;
    user-select: none;
    cursor: pointer;

    &-text {
      display: inline-block;
      text-overflow: ellipsis;
      border-radius: 32px;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url(../assets/caret-down.svg) center no-repeat;
      transition: all ease-in-out 0.1s;
    }

    &.active::after {
      transform: rotate(180deg);
    }
  }

  &__hide {
    display: none !important;
  }

  &__items {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    max-height: 240px;
    min-width: max-content;
    overflow-y: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: $black;
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 0 20px rgba($color: $black, $alpha: 0.25);

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: $white, $alpha: 0.2);
      border-radius: 4px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
  }

  &__same-as-selected {
    font-weight: 700;
    background-color: rgba($color: $white, $alpha: 0.2);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
  }
}
